<div class="row">
  <div class="col-md-6">
    <h4>Person Details</h4>
    <br>
    <p>
      <ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert>
    </p>
    <form [formGroup]="peopleForm" novalidate="novalidate">
      <div class="form-group">
        <input class="form-control"
               type="hidden"
               name="id"
               formControlName="id">
      </div>
      <div class="form-group">
        <input class="form-control" [ngClass]="{'is-invalid':peopleForm.get('name').touched && !peopleForm.get('name').valid}"
               name="name"
               formControlName="name"
               placeholder="Name">
        <div *ngIf="peopleForm.get('name').errors?.required && peopleForm.get('name').touched" [ngClass]="{'form-control-feedback':peopleForm.get('name').errors?.required}">
          Name field is required
        </div>
      </div>
      <div class="form-group">
        <input class="form-control" [ngClass]="{'is-invalid':peopleForm.get('nit').touched && !peopleForm.get('nit').valid}"
               type="number"
               name="nit"
               formControlName="nit"
               placeholder="Nit">
        <div *ngIf="peopleForm.get('nit').errors?.required && peopleForm.get('nit').touched" [ngClass]="{'form-control-feedback':peopleForm.get('nit').errors?.required}">
          Nit field is required
        </div>
      </div>
      <div class="form-group">
        <select class="form-control" [ngClass]="{'is-invalid':peopleForm.get('genre').touched && !peopleForm.get('genre').valid}"
                name="genre"
                formControlName="genre">
          <option value="">Seleccione un genero</option>
          <option *ngFor="let genre of genres"
                  [value]="genre.value"> {{ genre.name }} </option>
        </select>
        <div *ngIf="peopleForm.get('genre').errors?.required && peopleForm.get('genre').touched" [ngClass]="{'form-control-feedback':peopleForm.get('genre').errors?.required}">
          Genre field is required
        </div>
      </div>
      <div class="form-group">
        <input class="form-control" [ngClass]="{'is-invalid':peopleForm.get('dateOfBirth').touched && !peopleForm.get('dateOfBirth').valid}"
               name="dateOfBirth"
               readonly="readonly"
               formControlName="dateOfBirth"
               placeholder="Date Of Birth"
               ngbDatepicker #d="ngbDatepicker"
               (click)="d.toggle()">
        <div *ngIf="peopleForm.get('dateOfBirth').errors?.required && peopleForm.get('dateOfBirth').touched" [ngClass]="{'form-control-feedback':peopleForm.get('dateOfBirth').errors?.required}">
          Date of Birth field is required
        </div>
        <div *ngIf="peopleForm.get('dateOfBirth').errors?.badage && peopleForm.get('dateOfBirth').touched" [ngClass]="{'form-control-feedback':peopleForm.get('dateOfBirth').errors?.badage}">
          The age must be over 18 and under 60 years
        </div>
      </div>
      <div class="form-group">
        <input class="form-control"
               type="hidden"
               name="photo"
               formControlName="photo">
      </div>
      <button type="button" class="btn btn-outline-primary" [disabled]="!peopleForm.dirty" (click)="updatePerson()">Save</button>
    </form>
  </div>
  <div class="col-md-6" *ngIf="childs">
    <h3>Person Childs</h3>
    <!-- Modal Component -->
    <div class="pull-right">
      <app-modal-children-create></app-modal-children-create>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let children of childs; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ children.name }}</td>
          <td>{{ children.age }}</td>
          <td><a href="#" [routerLink]="['/people',person.id, 'delete']"><i class="fas fa-trash fa-2x"></i></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

